th,
td {
    font-size: 18px;
    padding: 10px;
}

th {
    background: #589dff;
    color: #fff;
}

td {
    background: #c7c7c7;
}

a {
    text-decoration: none;
    transition: 0.2s ease;
    color: #3f75c5;
}

a:hover {
    opacity: 0.7;
}

p {
    font-style: italic;
}

input,
textarea,
button {
    padding: 10px;
    display: block;
    min-height: 30px;
    width: 250px;
    margin-bottom: 10px;
}

textarea {
    resize: vertical;
    height: 80px;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.delete {
    color: rgb(217, 0, 0);
}

.comments {
    color: rgb(0, 167, 17);
}